<div class="row">
    <h1> Historial </h1>
    <div class="col-12">
      <div class="d-flex justify-content-end">
          <input (keyup)="onChangeSearch()" [(ngModel)]="searchQuery" class="form-control" type="text" name="search" placeholder="Buscar por título o código">
        <button (click)="RefreshMyReleases()" class="btn btn-info"> <i class="fas fa-sync-alt"></i> </button>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col"> Codigo </th>
            <th scope="col"> Titulo </th>
            <th scope="col"> Ult. Modificación </th>
            <th scope="col"> Estado </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Releases of data" class="inf" (click)="changeStateToDown(Releases)">
            <th scope="row">{{ Releases.IDRELEASE }}</th>
            <td>{{ Releases.SINGLETITLE }}</td>
            <td>{{ Releases.MODIFIEDDATERELEASE }}</td>
            <td class="table-warning text-dark" *ngIf="Releases.IDRELEASESTATE == 10"> En Revisión </td>
            <td class="table-info text-dark" *ngIf="Releases.IDRELEASESTATE == 11"> Aprobado </td>
            <td class="table-danger text-dark" *ngIf="Releases.IDRELEASESTATE == 12"> Rechazado </td>
            <td class="table-danger text-dark" *ngIf="Releases.IDRELEASESTATE == 13"> Desactivado </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>