<div class="container-fluid">
  <div class="row">
    <div class="col-12"><br></div>
    <div class="col-12 text-center">
        <img class="img-fluid img-pri" src="assets/default/logo.png" alt="">
        <br><br>
        <h1> MAIN PAGES </h1>
        <h2> COMUNICADOS </h2>
      </div>
    <div class="col-sm-3 text-center">
    </div>
    <div class="col-sm-6 text-center">
      <ul>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam maiores eum voluptas nemo repudiandae fugiat a accusantium? Sunt iusto nihil a, suscipit natus recusandae omnis quas voluptatem ipsum commodi voluptate.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique libero eligendi tempora quam minus quos, modi labore neque incidunt numquam nobis distinctio, ut ipsam quod perspiciatis voluptatibus. Consectetur, expedita iste.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi tenetur aperiam vero molestiae commodi recusandae cum rerum possimus minima unde odio omnis alias ducimus provident sit, exercitationem, reiciendis debitis nobis.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fuga, accusantium quam corporis alias quos molestias sint eos, dolores veniam nemo, ducimus maxime dicta sequi sed earum minus necessitatibus quibusdam.</li>
      </ul>
      </div>
  </div>
  <div class="row">
    <div class="col-12 space">

    </div>
  </div>
</div>